#!/usr/bin/python

import etcd
import sys
import socket
from urlparse import urlparse

# Genenerated by {{ .Env.USER }}
# Docker Version {{ .Docker.Version }}

etcd_host = "{{ .Env.ETCD_HOST }}"
if not etcd_host:
    print "ETCD_HOST not set"
    sys.exit(1)

port = 4001
host = etcd_host

if ":" in etcd_host:
    host, port = etcd_host.split(":")

client = etcd.Client(host=host, port=int(port))

try:
    client.read("/services")
except (etcd.EtcdKeyNotFound, KeyError):
    client.write("/services", None, dir=True)

{{ $local := . }}
{{range $key, $value := .}}

# Container name: {{ $value.Name }}

{{range $address := $value.Addresses}}

{{ if $value.Env.VIRTUAL_HOST }}

client.write("/services/{{ $value.Env.VIRTUAL_HOST}}:{{ $address.Port }}/{{printf "%.*s" 12 $value.ID}}", "{{ $local.Env.HOST_IP }}:{{ $address.HostPort }}", ttl=15)

{{ else }}
# No VIRTUAL_HOST found
{{ end }}
{{ end }}
{{end}}
